* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

 body {
  width: 100%;
  overflow-x: hidden;
}

  /* navbar */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo img {
  width: 200px;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #65c9bb;
}

/* Right Section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.phone {
  color: white;
  font-size: 14px;
}

/* Donate Button */
.donate-btn {
  background: #ff3b30;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.donate-btn img {
  width: 18px;
  filter: invert(1);
  
}

.donate-btn:hover {
   /* background: black;
   border: 0.5px solid  transparent ;  */
}

/* hero section */
.hero {
  height: 950px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  background-image: url(assets/h1_hero1.jpg.webp);
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
}


.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  max-width: 600px;
  color: white;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Button */
.btn {
  background: #52d1c6;
  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #3cb5ab;
}

/* program section */
.program-block {
  background: #fcf4f0;
  padding: 100px 20px;
}

.program-content-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.program-image img {
  max-width: 100%;
}

.program-label {
  color: #52d1c6;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.program-details h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.program-description {
  color: #777;
  margin-bottom: 30px;
}

/* Buttons */
.program-buttons {
  display: flex;
  gap: 20px;
}

.btn-donate-now {
  background: #ff6b4a;
  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
}

.btn-view-programs {
  background: transparent;
  border: 1px solid #ff6b4a;
  padding: 15px 30px;
  color: #ff6b4a;
  border-radius: 5px;
}

/* about section */
.about-block {
  padding: 100px 20px;
}

.about-content-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
  flex-direction: row-reverse;
}

.about-image-container img {
  max-width: 100%;
}

.about-details h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.about-lable {
  color: #52d1c6;
}
.about-description {
  color: #777;
  margin-bottom: 30px;
}

.about-button {
  background: #ff6b4a;
  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
}
/* donation-section */
   #programs-section {
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 25px;
    margin: 100px 0px 100px 0px;
}

.program-card {
    max-width: 500px;
    background-color:#FCF2EB;

}

.program-card img {
    width: 100%;
    height: 250px;
}

.program-content {
    padding: 30px;
}

.program-content h3 {
    color: #263b5c;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: "Jost", sans-serif;
}

.program-content p {
    color: #777;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 25px;
}

.program-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.stat {
    display: flex;
    flex-direction: column;
}

.stat .amount {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.stat .amount.goal {
    color: #65C9BB;
}

.stat .amount.raised {
    color: #65C9BB;
}

.stat .label {
    color: #263b5c;
    font-size: 14px;
}
.up-b1{
    background-color: #F15B43;
    color: #fff;
    padding: 17px 35px;
    font-size: 18px;
    border: 2px solid #F15B43;
}
.up-b1:hover {
    background-color: white;
    color: #F15B43;
}

/* help section */
.help-block {
  background: bisque;
  padding: 100px 20px;
}

.help-content-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.help-image img {
  max-width: 100%;
}

.help-details h2 {
  font-size: 46px;
  margin-bottom: 20px;
}
.help-label{
  color: #52d1c6;
}

.help-description {
  color: #777;
  margin-bottom: 30px;
}

.button {
  background: #ff6b4a;
  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
}

/* helping section */
.helping-today-section {
  background-image: url(assets/helpingtoday1.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  color: white;
  text-align: center;
}

.service-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.service-item {
  max-width: 300px;
}

.service-icon {
  width: 60px;
  margin-bottom: 20px;
}

/* FOOTER */
.footer {
  background-color: #263b5c;
  color: white;
  padding-top: 60px;
}


.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 20px;
  flex-wrap: wrap;
}


.footer-col {
  max-width: 260px;
}


.footer-logo {
  width: 160px;
  margin-bottom: 20px;
}


.footer-col h3 {
  font-size: 18px;
  margin-bottom: 20px;
}


.footer-col p {
  font-size: 15px;
  line-height: 1.7;
  color: #d9d9d9;
  margin-bottom: 15px;
}


.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
  cursor: pointer;
}


.footer-btn {
  background-color: #f15b43;
  color: white;
  border: none;
  padding: 12px 22px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  
}
.footer-btn:hover{
  background-color: #263b5c;
  border: 1px solid white;

}


.footer-bottom {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom span {
  color: #65c9bb;
}
